resources/state-machine-chain/first-processing/step-functions/first-processing-state-machine.asl.yaml
Comment: >-
  "First Processing: Change Format"
StartAt: ToChangeFormat
States:
  ToChangeFormat:
    Type: Task
    Resource: ${ToChangeFormatFunctionArn}
    Retry:
      - ErrorEquals:
        - "States.ALL"
        IntervalSeconds: 2
        MaxAttempts: 5
        BackoffRate: 2
    Next: NotificationParameterSetting
  NotificationParameterSetting:
    Type: Pass
    Parameters:
        code.$: $.code
        msg.$: $.msg
        MessageGroupId: "toChangeFormat"
        MessageDeduplicationId.$: States.UUID()
    Next: NextStateMachineNotification
  NextStateMachineNotification:
    Type: Task
    Resource: "arn:aws:states:::aws-sdk:sns:publish"
    Parameters:
        TopicArn: ${SnsTopicArn}
        Message.$: $.msg.destination
        MessageGroupId.$: $.MessageGroupId
        MessageDeduplicationId.$: $.MessageDeduplicationId
    End: true
